<!DOCTYPE html>
<html>

<head>
    <title>angularJs 1.4.6</title>
    <meta charset="utf-8">
    <style type="text/css">
    .nameUl {
        min-height: 50px;
        background: #f6f6f6;
    }
    div a{
    	margin-right:20px;
    }
    </style>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-init="hello='Hello!'" ng-controller="myController">
        <input type="text" name="name" ng-model="name">
        <button ng-click="addName()">{{add}}</button>
        <div>{{hello}} <span ng-bind="name"></span></div>
        <ul class="nameUl" ng-init="isShow=true" ng-show="isShow" ng-click="showHideUl()">
            <li ng-repeat="item in names">{{$index+ "--" + item}}</li>
        </ul>
        <h2>路由</h2>
        <div><a href="#/">home</a><a href="#/help">help</a><a href="#/about">about</a></div>
        <div ng-view></div>
    </div>
    <script type="text/javascript">
    var app = angular.module("myApp", ["ngRoute"]);
    app.config(["$routeProvider",function($routeProvider){
    	$routeProvider
    	.when("/",{template:"home page"})
    	.when("/help",{template:"help page"})
    	.when("/about",{template:"about page"})
    	.otherwise({redirectTo:"/"});
    }]);
    //路由配置
	/*$routeProvider.when(url, {
	    template: string,
	    templateUrl: string,
	    controller: string, function 或 array,
	    controllerAs: string,          //为当前controller指定别名
	    redirectTo: string, function,
	    resolve: object<key, function> //当前controller依赖的模块
	});*/
    app.controller("myController", function($scope,$location) {
    	console.log($location.absUrl());
        $scope.add = "Add";
        $scope.names = ["yyb", "zl"];
        $scope.addName = function() {
            $scope.names.unshift($scope.name);
        };
        $scope.showHideUl = function() {
            $scope.isShow = !$scope.isShow;
        };
    });
    </script>
</body>

</html>
